body {
    overflow: hidden;
}
.scroll {
    overflow: auto;
    height: 100vh;
}
.social {
	margin-top: 10px;
}
.social .fb-like {
	vertical-align: middle;
	margin-left: 10px;
}
.social iframe {
	vertical-align:middle !important;
}
.highlight {
    background-color: #FCEBB6;
} 
a {
    color: #78C0A8;
}
h1 {
    color: #5E412F;
}
#github {
	margin-top: 10px;
    color: black;
}