body {
    overflow: hidden;
}
.scroll {
    overflow: auto;
    height: 100vh;
}
.social {
    margin-top: 10px;
    margin-bottom: 20px;
}
.social .fb-like {
    vertical-align: top;
    margin-right: 10px;
}
.social iframe {
    vertical-align: top !important;
}
.social .git {
    margin-left: 10px;
    vertical-align: top;
}
h1 {
    color: #5E412F;
    margin-top: 0;
    padding-top: 20px;
}
.canvas {
    border-width: 0 1px;
    border-color: #5E412F;
    border-style: solid;
    margin-left: 7.5px;
}
#sidebar {
    min-height: 100%;
    position: relative;
}
#sidebar-content {
    padding-bottom: 70px
}
#controls {
    position: absolute;
    bottom: 20px;
    width: 100%;
}
#controls button {
    width: 32%;
}