body {
    overflow: hidden;
}
.scroll {
    overflow: auto;
    height: 100vh;
}
.social {
    margin-top: 10px;
}
.social .fb-like {
    vertical-align: top;
    margin-right: 10px;
}
.social iframe {
    vertical-align: top !important;
}
.social .git {
    margin-left: 10px;
    vertical-align: top;
}
.highlight {
    background-color: #FCEBB6;
} 
a {
    color: #78C0A8;
}
h1 {
    color: #5E412F;
}
.canvas {
    border-width: 0 1px;
    border-color: #5E412F;
    border-style: solid;
    margin-left: 7.5px;
}
.controls button {
    width: 32%;
}