body {
    overflow: hidden;
}
.scroll {
    overflow: auto;
    height: 100vh;
}
.social iframe {
	vertical-align: middle;
}
.social div span {
	vertical-align:middle !important;
}
.spaced {
    margin-top: 10px;
}
.highlight {
    background-color: #FCEBB6;
} 
a {
    color: #78C0A8;
}
h1 {
    color: #5E412F;
}
#github {
    color: black;
}