body {
    overflow: hidden;
}
.scroll {
    overflow: auto;
    height: 100vh;
}
.social-share {
	margin-top: 10px;
}
.social-share iframe {
	vertical-align: middle;
}
.fb-share-button {
	margin-right: 20px;
}
.spaced {
    margin-top: 10px;
}
.highlight {
    background-color: #FCEBB6;
} 
a {
    color: #78C0A8;
}
h1 {
    color: #5E412F;
}
#github {
    color: black;
}